.callback {
    margin: 0 rem(15) rem(20);

    background: url("@img/callback-image.jpg") 0 0 no-repeat;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;

    // .callback__container
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: rem(904);
        height: rem(462);
    }
    // .callback__block
    &__block {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    // .callback__title
    &__title {
        margin-bottom: rem(18);
        line-height: math.div(78, 58);
        font-size: rem(58);
        text-transform: uppercase;
        text-align: center;
    }
    // .callback__subtitle
    &__subtitle {
        margin-bottom: rem(55);
    }
    // .callback__button
    &__button {
    }
    // .callback__form
    &__form {
    }
}
.button {
}
.form {
    // .form__row
    &__row {
    }
}
.input {
}
