.callback {
    margin: 0 rem(5) rem(20);

    background: url("@img/callback-image.jpg") 0 0 no-repeat;
    border-radius: 20px;
    overflow: hidden;
    color: #fff;

    @media (min-width: $mobile) {
        margin: 0 rem(15) rem(20);
    }

    // .callback__container
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 rem(30);
        max-width: rem(904);
        height: rem(323);

        @media (min-width: $mobile) {
            height: rem(462);
            padding: 0;
        }
    }
    // .callback__block
    &__block {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    // .callback__title
    &__title {
        @include adaptiveValue("margin-bottom", 18, 5);
        line-height: math.div(78, 58);
        @include adaptiveValue("font-size", 58, 28);
        text-transform: uppercase;
        text-align: center;
    }
    // .callback__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 55, 30);
        text-align: center;

        @media (min-width: $mobile) {
            text-align: left;
        }
    }
    // .callback__button
    &__button {
    }
    // .callback__form
    &__form {
    }
}
.button {
}
.form {
    // .form__row
    &__row {
    }
}
.input {
}
