.crumbs {
    margin-top: rem(10);
    @include adaptiveValue("margin-bottom", 100, 60);
    // .crumbs__container
    &__container {
    }
    // .crumbs__list
    &__list {
        display: flex;
        gap: rem(30);
    }
    // .crumbs__item
    &__item {
        line-height: math.div(21, 15);
        @include adaptiveValue("font-size", 15, 12);
        color: $mainColor;
    }
    // .crumbs__link
    &__link {
        color: $stroke;
        position: relative;

        @media (any-hover: hover){
            &:hover{
                color: $marsala;
            }
        }

        &::after {
            content: "";
            width: rem(13);
            height: rem(1);

            position: absolute;
            top: 50%;
            right: rem(-21);
            z-index: 1;
            transform: translateY(-50%);

            background-color: $marsala;
        }
    }
}
