//====================================================================================================
.footer {
    margin: 0 rem(15) rem(20);
    padding: rem(100) rem(60) rem(60);
    border-radius: 20px;
    background-color: $mainColor;
    color: #fff;

    // .footer__container
    &__container {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
    }
    // .footer__left
    &__left {
    }
    // .footer__menu
    &__menu {
        flex: 0 0 rem(717);

        .menu {
            // .menu__body
            &__body {
            }
            // .menu__list
            &__list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: rem(15);
            }
            // .menu__item
            &__item {
            }
            // .menu__link
            &__link {
                @media (any-hover: hover) {
                    &:hover {
                        color: $marsala;
                    }
                }
            }
        }
    }
    // .footer__right
    &__right {
        text-align: right;
    }
}
.left-footer {
    // .left-footer__logo
    &__logo {
        display: block;
        margin-bottom: rem(70);
        width: rem(70);
        height: rem(70);
    }
    // .left-footer__payments
    &__payments {
        display: flex;
        align-items: center;
        gap: rem(38);
    }
}
.right-footer {
    // .right-footer__phone
    &__phone {
        display: block;
        @extend %h4;

        @media (any-hover: hover) {
            &:hover {
                color: $marsala;
            }
        }
    }
    // .right-footer__email
    &__email {
        display: block;
        margin-bottom: rem(25);
        color: $stroke;

        @media (any-hover: hover) {
            &:hover {
                color: $marsala;
            }
        }
    }
    // .right-footer__social
    &__social {
        display: flex;
        justify-content: flex-end;
        gap: rem(10);
    }
}
.social-footer {
    // .social-footer__item
    &__item {
        padding: rem(10);

        flex: 0 0 rem(40);
        width: rem(40);
        height: rem(40);

        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid $marsala;
        border-radius: 50%;

        transition: background 0.2s ease-in-out;

        svg {
            width: 100%;
            height: 100%;
            fill: #fff;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: $marsala;
            }
        }
    }
}

//====================================================================================================
