h1 {
    font-weight: 400;
    line-height: math.div(78, 58);
    font-size: rem(58);
}

h2 {
    line-height: math.div(58, 48);
    font-size: rem(48);
}

a {
    transition:
        color 0.2s ease-in-out,
        background 0.2s ease-in-out;
}

svg {
    transition: fill 0.2s ease-in-out;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section {
    margin-bottom: rem(120);
}

._section-title {
    margin-bottom: rem(70);
    padding-bottom: rem(33);
    border-bottom: 1px solid $stroke;
    text-transform: uppercase;
    text-align: center;
}

.star {
    &._fill {
        path {
            fill: $marsala;
            stroke: $marsala;
        }
    }
}
