h1 {
    font-weight: 400;
    line-height: math.div(78, 58);
    @include adaptiveValue("font-size", 58, 28);
}

h2 {
    line-height: math.div(58, 48);
    @include adaptiveValue("font-size", 48, 24);
}

a {
    transition:
        color 0.2s ease-in-out,
        background 0.2s ease-in-out;
}

svg {
    transition: fill 0.2s ease-in-out;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section {
    @include adaptiveValue("margin-bottom", 120, 60);
}

._section-title {
    @include adaptiveValue("margin-bottom", 70, 30);
    @include adaptiveValue("padding-bottom", 33, 15);
    border-bottom: 1px solid $stroke;
    text-transform: uppercase;
    text-align: center;
}

.star {
    &._fill {
        path {
            fill: $marsala;
            stroke: $marsala;
        }
    }
}

.added_to_cart {
    display: none !important;
}