.content-page {
    margin-top: rem(10);
    margin-bottom: rem(30);
    height: rem(280);

    @media (min-width: $tablet) {
        height: rem(487);
    }

    @media (min-width: $tablet) {
        margin-top: rem(20);
    }

    // .content-page__container
    &__container {
        max-width: rem(1880);
        height: 100%;
    }
    // .content-page__intro
    &__intro {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        height: 100%;
    }
}
.intro-page {
    // .intro-page__image
    &__image {
        height: 100%;

        img {
            object-fit: cover;
        }
        ._mobile {
            @media (min-width: $mobile) {
                display: none;
            }
        }

        ._desktop {
            @media (max-width: $mobile) {
                display: none;
            }
        }
    }
    // .intro-page__content
    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: rem(1041);
        text-align: center;
        height: rem(222);
    }
    // .intro-page__title
    &__title {
        color: #fff;
        text-transform: uppercase;
    }
}
